.author, .date {
    font-size: 20px;
    margin: 10px;
}

.titulek {
    font-size: 70px;
    margin-bottom: 0.5em;
}

.author_introduction {
    padding-bottom: 0.5em;
    border-bottom: 0.1rem solid  rgba(106, 125, 116, 0.3);
}

body > header {
    display: block;
    margin: auto;
    margin-top: 0;
}

@media only screen and (min-width: 1300px) {
     
     body > header {width: 60%;}
  }

  @media only screen and (max-width: 400px) {
      header .titulek {
          font-size: 55px;
          overflow-wrap: break-word;
      }
  }
