/* tot je můj úplně epesní typografický templejt*/
body > header {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 0;
}

html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    line-height: 1.15;
    
    }

body {
    color: rgb(34, 34, 34);
    margin: 0;
    padding: 0;
}

main {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 0;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    font-weight: 500;
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4{
    font-size: 1.5em;
}
h5{
    font-size: 1em;
}
h6{
    font-size: 0.75em;
}


p {
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.75px;
}

a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}

ul, li, ol {
    font-size: 105%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(99, 99, 99);
    letter-spacing: 0.75px;
    line-height: 1.5em;
    margin: 0;
}

ul {
    list-style: circle; 
}

ol {
    list-style: upper-roman;
}

blockquote {
    border-left: rgb(106, 125, 116) 6px solid;
    padding-left: 0.5em;
    margin-block-start: 1.75em;
    margin-block-end: 1.75em;
    margin-inline-start: 1.5em;
    margin-inline-end: 1.5em;
}

blockquote>footer , blockquote>footer>a {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(106, 125, 116);
    font-weight: 600;
    font-size: auto;
}

/* 
udelat odkaz,
jak vypada strong, emphasis, blabla,
obrazky velikost,
footer,
@media*/
