.thumbnails figure.info a:hover div {
    visibility: visible;
}

.thumbnails figure.info a::before {
    content: "i";
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
    background-color: #e0e0e0;
    height: 16px;
    width: calc(16px + 3px);
    text-align: center;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: .5em;
    padding-bottom: 3px;
    border-radius: 50%;
    border: 3px solid #be8024;
}

.thumbnails figure.info a:hover::before {
    color: white;
    background-color: gray;

}

.thumbnails img, figure > a, .thumbnails figure {
    width: 50em;
    margin: auto;
    height: auto;
}

.thumbnails>figure {
    margin: auto;
    margin-bottom: 3em;
    margin-top: 3em;
}

.thumbnails div {
    text-align: center;
    font-size: 1.25em;
    color: rgb(99,99,99);
}

/* media */

@media only screen and (max-width: 1300px) {
    
    .thumbnails img, figure > a, .thumbnails figure {width: 100%; height: auto; margin: auto;}
  }

  @media only screen and (max-width: 1024px) {
    .thumbnails div {font-size: 1em;}
  }

  @media only screen and (max-width: 900px) {
    .thumbnails div {font-size: 1em;}
  }

  @media only screen and (max-width: 768px) {
    .thumbnails div {font-size: 0.75em;}
  }

  @media only screen and (max-width: 600px) {
    .thumbnails div {font-size: 0.75em;}
  }